<div
  class="container-fluid"
  id="EGA_questionContainer"
  ng-controller="NewQuestions as ctrl"
>
  <div class="row">
    <div class="col-md-7" id="EGA_questionsLeftColumn">
      <div class="form EGA_formCentered">
        <div class="form-group EGA_border">
          <label for="Q1">{{ this.Q1.question }}</label>
          <div id="EGA_projectNumberContainer" *ngIf="questionAnswer == 'YES'">
            <label for="projectNumber">Project Number:</label>
            <input
              type="text"
              aria-required="true"
              maxlength="40"
              value=""
              autocomplete="off"
              class="form-control"
              id="EGA_projectNumber"
            />
          </div>
          <select
            [(ngModel)]="questionAnswer"
            class="EGA_question form-control"
          >
            <option selected></option>
            <option *ngFor="let Q of questions" [value]="Q">{{ Q }}</option>
          </select>
        </div>
        <div class="form-group EGA_border">
          <label for="Q1">{{ this.Q2.question }}</label>
          <select class="EGA_question form-control">
            <option selected></option>
            <option *ngFor="let Q of questions" [value]="Q">{{ Q }}</option>
          </select>
        </div>
        <div class="form-group EGA_border">
          <label for="Q1">{{ this.Q3.question }}</label>
          <select class="EGA_question form-control">
            <option selected></option>
            <option *ngFor="let Q of questions" [value]="Q">{{ Q }}</option>
          </select>
        </div>
        <div class="form-group">
          <button
            type="submit"
            class="btn btn-outline-dark"
            id="EGA_questionsSubmitButton"
          >
            <a routerLink="/soft-questions" routerLinkActive="active"
              >Continue</a
            >
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-5" id="EGA_questionsRightColumn">
      <app-tab-list-definitions></app-tab-list-definitions>
    </div>
  </div>
</div>
