<div class="row" id="EGA_topRow">
  <div class="col-md-12-fluid" id="EGA_topRowColumn">
    <app-slide-show></app-slide-show>
    <div id="EGA_title">
      <h1 id="EGA_intakePortalH1">
        CALIFORNIA DEPARTMENT OF TECHNOLOGY
        <span class="EGA_titleFont">INTAKE PORTAL</span>
      </h1>
    </div>
    <!--
      <div class="EGA_backgroundImage w-100">
        <div class="overlay-effect h-100 w-100"></div>
        <div>
          <h3>
            <h1 id="EGA_intakePortalH1">
              CALIFORNIA DEPARTMENT OF TECHNOLOGY
              <span class="EGA_titleFont">INTAKE PORTAL</span>
            </h1>
          </h3>
        </div>
      </div>
    -->
  </div>
</div>
