<div
  class="container-fluid"
  id="EGA_questionContainer"
  ng-controller="NewQuestions as ctrl"
>
  <div class="row">
    <div class="col-md-6">
      <div class="form">
        <div class="form-group">
          <label for="Q1">{{ this.Q1.question }}</label>
          <select id="Q1" class="form-control">
            <option selected></option>
            <option *ngFor="let Q of questions" [value]="Q">{{ Q }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="container-fluid">
        <div class="row">
          <div class="col-8 offset-1" id="EGA_tabList">
            <div class="list-group" id="list-tab" role="tablist">
              <a
                class="list-group-item list-group-item-action active"
                id="list-home-list"
                data-toggle="list"
                href="#list-home"
                role="tab"
                aria-controls="home"
                >IT PROJECT</a
              >
              <a
                class="list-group-item list-group-item-action"
                id="list-profile-list"
                data-toggle="list"
                href="#list-profile"
                role="tab"
                aria-controls="profile"
                >TELECOMMUNICATION</a
              >
              <a
                class="list-group-item list-group-item-action"
                id="list-messages-list"
                data-toggle="list"
                href="#list-messages"
                role="tab"
                aria-controls="messages"
                >PROJECT DELEGATION</a
              >
              <a
                class="list-group-item list-group-item-action"
                id="list-settings-list"
                data-toggle="list"
                href="#list-settings"
                role="tab"
                aria-controls="settings"
                >PROJECT AUTHORITY</a
              >
            </div>
          </div>
          <div class="col-8 offset-1" id="EGA_tabContent">
            <div class="tab-content" id="nav-tabContent">
              <div
                class="tab-pane fade show active"
                id="list-home"
                role="tabpanel"
                aria-labelledby="list-home-list"
              >
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque,
                quibusdam fugit. Libero magni ex unde, impedit voluptatem
                tempore atque harum nemo et sed blanditiis totam, molestiae
                ipsum voluptatum enim adipisci.
              </div>
              <div
                class="tab-pane fade"
                id="list-profile"
                role="tabpanel"
                aria-labelledby="list-profile-list"
              >
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea
                omnis perspiciatis eveniet aperiam voluptate ut eius alias fugit
                quae, earum iusto laboriosam minima pariatur? Repellat id
                numquam ullam doloribus reprehenderit!
              </div>
              <div
                class="tab-pane fade"
                id="list-messages"
                role="tabpanel"
                aria-labelledby="list-messages-list"
              >
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt,
                molestias. Nesciunt nisi repellendus tempora fugit fuga officiis
                amet, quod placeat reprehenderit excepturi a sunt. Sequi,
                voluptate! Assumenda veniam sit possimus.
              </div>
              <div
                class="tab-pane fade"
                id="list-settings"
                role="tabpanel"
                aria-labelledby="list-settings-list"
              >
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Consequuntur tempore quas illo. Similique, fugit ea. Quisquam
                ullam rem obcaecati, et ut corrupti. Officia consequuntur,
                fugiat porro obcaecati debitis repellat. Similique!
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
