<div
  class="container-fluid"
  id="EGA_questionContainer"
  ng-controller="NewQuestions as ctrl"
>
  <div class="row">
    <div class="col-md-6">
      <div class="form">
        <div class="form-group">
          <label for="Q1">{{ this.Q1.question }}</label>
          <select id="Q1" class="form-control">
            <option selected></option>
            <option *ngFor="let Q of questions" [value]="Q">{{ Q }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <app-tab-list-definitions></app-tab-list-definitions>
    </div>
  </div>
</div>
