<div
  class="container-fluid"
  id="EGA_questionContainer"
  ng-controller="NewQuestions as ctrl"
>
  <div class="row">
    <div class="col-md-7" id="EGA_questionsLeftColumn">
      <div class="form EGA_formCentered">
        <div class="form-group EGA_border">
          <label for="Q1">{{ this.Q1.question }}</label>
          <input type="text" class="form-control" id="inputContractAmount" />
          <div id="EGA_dateLabel">
            <label for="example-date-input" class="col-form-label"
              >When does this Contract expire?</label
            >
            <div id="EGA_dateInput">
              <input
                class="form-control"
                type="date"
                value="2011-08-19"
                id="example-date-input"
              />
            </div>
          </div>
        </div>

        <div class="form-group">
          <button
            type="submit"
            class="btn btn-outline-dark"
            id="EGA_questionsSubmitButton"
          >
            <a routerLink="/active-2" routerLinkActive="active">Continue</a>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
