#EGA_topRow {
  overflow: hidden;
  max-height: 250px;
  box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.5);
}
#EGA_h1 {
  font-size: 1rem;
  color: white;
  top: 150px;
  left: 100px;
  font-family: "Roboto Condensed", sans-serif;
  z-index: 1;
}
#EGA_h1 .EGA_span {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  margin-left: 20px;
  z-index: 1;
}
#EGA_topRow img {
  opacity: 1;
  width: 100%;
  z-index: -2;
}
#EGA_topRowColumn {
  width: 100%;
}
.EGA_backgroundImage {
  background: url(../../../assets/images/sacramento.jpg) 0 0 no-repeat;
  min-height: 350px;
}
.EGA_backgroundImage {
  background-size: cover;
  position: relative;
}
.EGA_backgroundImage:hover .overlay-effect {
  opacity: -1;
}
.overlay-effect {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
  transition: 0.5s ease;
  background-color: rgb(165, 165, 165);
  overflow: hidden;
}
.EGA_backgroundImage a {
  color: #fff;
}
#EGA_title {
  position: absolute;
  top: 150px;
  height: 100px;
  align-items: center;
  display: flex;
  padding: 10px;
  width: 40%;
  background: #0000007a;
  z-index: 4;
}
.EGA_backgroundImage h3 {
  padding: 15px 30px;
}
@media screen and (max-width: 768px) {
  .EGA_backgroundImage {
    margin-bottom: 10px;
  }
  #EGA_title {
    height: 135px;
  }
  #EGA_intakePortalH1 {
    font-size: 0.7rem;
  }
  #EGA_intakePortalH1 .EGA_titleFont {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 480px) {
  .EGA_backgroundImage {
    margin-bottom: 10px;
  }
  #EGA_title {
    height: 145px;
  }
  #EGA_intakePortalH1 .EGA_titleFont {
    margin-left: unset;
  }
}
