<h3>CURRENT STAFF WORKLOAD:</h3>
<div class="EGA_spaceBetween">
  <app-staff-dropdown></app-staff-dropdown>
  <app-searchbar></app-searchbar>
</div>
<table
  class="table table-hover table-dark table-responsive w-100 d-block d-md-table"
>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Assignment</th>
      <th scope="col">Department</th>
      <th scope="col">Amount</th>
      <th scope="col">Status</th>
      <th scope="col">Assigned to</th>
      <th scope="col">Backup</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Phil</td>
      <td>Sanchez</td>
      <td>CA-MIMMS</td>
      <td>DHCS</td>
      <td>$934,000</td>
      <td>ASSIGNED</td>
      <td>David Sanchez</td>
      <td>Sandra Morales</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jim</td>
      <td>Gordon</td>
      <td>Telemetry</td>
      <td>CDFW</td>
      <td>$127,600</td>
      <td>ASSIGNED</td>
      <td>Sandra Morales</td>
      <td>David Sanchez</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Dave</td>
      <td>Arnoldi</td>
      <td>M&O</td>
      <td>CDCR</td>
      <td>$86,004,000</td>
      <td>ASSIGNED</td>
      <td>Amy Snow</td>
      <td>David Sanchez</td>
    </tr>
  </tbody>
</table>
