.EGA_margin30 {
  margin: 30px;
}
select {
  width: 150px;
  text-overflow: ellipsis;
  float: right;
}

#EGA_questionContainer {
  margin-top: 40px;
}
.EGA_border {
  margin-bottom: 60px;
}

#EGA_questionsSubmitButton {
  float: right;
}
#EGA_questionsSubmitButton:hover {
  color: white;
}

#EGA_questionsRightColumn {
  padding-bottom: 30px;
}
#EGA_questionsLeftColumn {
  padding-bottom: 30px;
}
.EGA_border {
  border: 1px solid gray;
  padding: 15px;
  border-radius: 5px;
}
.EGA_formCentered {
  width: 90%;
  margin: auto;
}

a {
  color: #212529;
  text-decoration: none;
}
a:hover {
  color: white;
}
.form-control:hover {
  box-shadow: 0 6px 18px -9px #000000;
  transition: box-shadow 0.2s;
}
