<div class="row" id="EGA_cardRow">
  <div class="col-md-4 col-sm-6 EGA_cardColumn">
    <div routerLink="/active" routerLinkActive="active" class="card">
      <img src="" />
      <div class="card-body EGA_cardBody">
        <div class="EGA_cardTextDiv">
          <h5 class="card-title">{{ envoke.title }}</h5>
          <p class="card-text">{{ envoke.summary }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 EGA_cardColumn">
    <div routerLink="/active" routerLinkActive="active" class="card">
      <img src="" />
      <div class="card-body EGA_cardBody">
        <div class="EGA_cardTextDiv">
          <h5 class="card-title">{{ timeAndLabor.title }}</h5>
          <p class="card-text">{{ timeAndLabor.summary }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 EGA_cardColumn">
    <div routerLink="/active" routerLinkActive="active" class="card">
      <img src="" />
      <div class="card-body EGA_cardBody">
        <div class="EGA_cardTextDiv">
          <h5 class="card-title">{{ other.title }}</h5>
          <p class="card-text">{{ other.summary }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
