<h3>NEW WORK ORDERS:</h3>
<table class="table table-light">
  <tr>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi aliquid
      saepe neque at quisquam perferendis nihil fugit dolorum quas aspernatur
      maiores dolores consequuntur exercitationem, vero ullam numquam rerum,
      beatae quia?
    </p>
  </tr>
</table>

<table
  class="table table-hover table-dark table-responsive w-100 d-block d-md-table"
>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Assignment</th>
      <th scope="col">Department</th>
      <th scope="col">Amount</th>
      <th scope="col">Info</th>
      <th scope="col">Assign to</th>
      <th scope="col">Backup</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Phil</td>
      <td>Sanchez</td>
      <td>CA-MIMMS</td>
      <td>DHCS</td>
      <td>$934,000</td>
      <td>
        <app-details-modal></app-details-modal>
        <!--
          <a
            routerLink=""
            class="btn btn-outline-dark"
            id="EGA_btn"
            routerLinkActive="active"
            >Details</a
          >
        -->
      </td>
      <td><app-staff-dropdown></app-staff-dropdown></td>
      <td><app-staff-dropdown></app-staff-dropdown></td>
    </tr>
  </tbody>
</table>
<button type="submit" class="btn btn-outline-dark" id="EGA_newAssignmentSubmit">
  Assign
</button>
