<h1>NEW WORK ORDERS:</h1>
<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Assignment</th>
      <th scope="col">Department</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Phil</td>
      <td>Sanchez</td>
      <td>CA-MIMMS</td>
      <td>DHCS</td>
      <td>UNASSIGNED</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>David</td>
      <td>Sanchez</td>
      <td>Body Cams</td>
      <td>CHP</td>
      <td>IN PROGRESS</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Monica</td>
      <td>Barrios</td>
      <td>M&O</td>
      <td>T-MOBILE</td>
      <td>IN PROGRESS</td>
    </tr>
  </tbody>
</table>
