<div class="EGA_spaceBetween">
  <div class="dropdown show">
    <a
      class="btn btn-secondary dropdown-toggle"
      href="#"
      role="button"
      id="dropdownMenuLink"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Select Staff
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="#">David Sanchez</a>
      <a class="dropdown-item" href="#">Amy Snow</a>
      <a class="dropdown-item" href="#">Sandra Morales</a>
    </div>
  </div>
  <form id="EGA_searchBar" (keydown)="keyDownFunction($event)">
    <input
      class="form-control mr-sm-2"
      type="search"
      placeholder="Search for a specific assignment"
      aria-label="Search"
    />
  </form>
</div>
