<div class="row" id="EGA_cardRow">
  <div class="col-md-4 col-sm-6 EGA_cardColumn">
    <div class="card" id="EGA_newCard">
      <img src="{{new.image}}" />
      <div class="card-body EGA_cardBody">
        <div class="EGA_cardTextDiv">
          <h5 class="card-title">{{ new.title }}</h5>
          <p class="card-text">{{ new.summary }}</p>
          <a
            routerLink="/new"
            class="btn btn-outline-dark"
            routerLinkActive="active"
            >Enter</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 EGA_cardColumn">
    <div class="card" id="EGA_currentCard">
      <img src="{{current.image}}" />
      <div class="card-body EGA_cardBody">
        <div class="EGA_cardTextDiv">
          <h5 class="card-title">{{ current.title }}</h5>
          <p class="card-text">{{ current.summary }}</p>
          <a
            routerLink="/active"
            class="btn btn-outline-dark"
            routerLinkActive="active"
            >Enter</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 EGA_cardColumn">
    <div class="card" id="EGA_archivedCard">
      <img src="{{archived.image}}" />
      <div class="card-body EGA_cardBody">
        <div class="EGA_cardTextDiv">
          <h5 class="card-title">{{ archived.title }}</h5>
          <p class="card-text">{{ archived.summary }}</p>
          <a
            routerLink="/archived-contract"
            class="btn btn-outline-dark"
            routerLinkActive="active"
            >Enter</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
