<div class="container-fluid" id="EGA_questionContainer">
  <div class="row">
    <div class="col-md-6 offset-md-3" id="EGA_questionsLeftColumn">
      <h2>AMENDING CONTRACT #... FOR MAINTENANCE AND OPERATION</h2>
      <div class="form EGA_formCentered">
        <div class="form-group EGA_border">
          <label for="Q1">{{ this.Q1.question }}</label>
          <textarea class="form-control"></textarea>
        </div>

        <div class="form-group">
          <button
            type="submit"
            class="btn btn-outline-dark"
            id="EGA_questionsSubmitButton"
          >
            <a routerLink="/dashboard/1" routerLinkActive="active">Continue</a>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
