img {
  max-height: 150px;
  margin: 0px 0px 20px 0px;
}
.EGA_inlineName {
  display: inline-flex;
  text-align: center;
}
#EGA_managerHeadingContainer {
  display: flex;
  justify-content: space-between;
}
