<div class="container-fluid">
  <div class="row" id="EGA_questionsRightColTitle">
    <div class="col-md-9 col-sm-12 offset-md-1">
      <h1>DEFINITIONS:</h1>
      <hr />
    </div>
  </div>

  <div class="row" id="EGA_questionsRightColSelections">
    <div class="col-md-9 col-sm-12 offset-md-1" id="EGA_tabList">
      <div class="list-group" id="list-tab" role="tablist">
        <a
          class="list-group-item list-group-item-action active"
          id="list-home-list"
          data-toggle="list"
          href="#list-home"
          role="tab"
          aria-controls="home"
          >DELEGATED IT PROJECT</a
        >
        <a
          class="list-group-item list-group-item-action"
          id="list-profile-list"
          data-toggle="list"
          href="#list-profile"
          role="tab"
          aria-controls="profile"
          >NON-DELEGATED IT PROJECT</a
        >
        <a
          class="list-group-item list-group-item-action"
          id="list-messages-list"
          data-toggle="list"
          href="#list-messages"
          role="tab"
          aria-controls="messages"
          >TELECOMMUNICATIONS</a
        >
        <a
          class="list-group-item list-group-item-action"
          id="list-settings-list"
          data-toggle="list"
          href="#list-settings"
          role="tab"
          aria-controls="settings"
          >PROJECT AUTHORITY</a
        >
      </div>
    </div>
    <div class="col-md-9 col-sm-12 offset-md-1" id="EGA_tabContent">
      <div class="tab-content" id="nav-tabContent">
        <div
          class="tab-pane fade show active"
          id="list-home"
          role="tabpanel"
          aria-labelledby="list-home-list"
        >
          {{ this.itProject.definition }}
        </div>
        <div
          style="white-space:pre-wrap"
          class="tab-pane fade"
          id="list-profile"
          role="tabpanel"
          aria-labelledby="list-profile-list"
        >
          {{ this.nonDelegatedItProject.definition }}
        </div>
        <div
          style="white-space:pre-wrap"
          class="tab-pane fade"
          id="list-messages"
          role="tabpanel"
          aria-labelledby="list-messages-list"
        >
          {{ this.telecommunications.definition }}
        </div>
        <div
          class="tab-pane fade"
          id="list-settings"
          role="tabpanel"
          aria-labelledby="list-settings-list"
        >
          {{ this.projectDelegation.definition }}
        </div>

        <p>
          "<span [innerHTML]="test"></span>" is the <i>property bound</i> test
          title.
        </p>
      </div>
    </div>
  </div>
</div>
