<div class="row">
  <div class="col-md-4 col-sm-6">
    <div class="card" id="EGA_newCard">
      <div class="card-body">
        <h5 class="card-title">{{ new.title }}</h5>
        <p class="card-text">{{ new.summary }}</p>
        <a href="#" class="btn btn-outline-light">Enter</a>
      </div>
      <div id="EGA_topRowOverlay"></div>
      <img src="../../assets/images/new.jpg" />
    </div>
  </div>
  <div class="col-md-4 col-sm-6">
    <div class="card" id="EGA_currentCard">
      <div class="card-body">
        <h5 class="card-title">{{ current.title }}</h5>
        <p class="card-text">{{ current.summary }}</p>
        <a href="#" class="btn btn-outline-light">Enter</a>
      </div>
      <div id="EGA_topRowOverlay"></div>
      <img src="../../assets/images/current.jpg" />
    </div>
  </div>
  <div class="col-md-4 col-sm-6">
    <div class="card" id="EGA_archivedCard">
      <div class="card-body">
        <h5 class="card-title">{{ archived.title }}</h5>
        <p class="card-text">{{ archived.summary }}</p>
        <a href="#" class="btn btn-outline-light">Enter</a>
      </div>
      <div id="EGA_topRowOverlay"></div>
      <img src="../../assets/images/archived.jpg" />
    </div>
  </div>
</div>
